@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
    --sub-color: #056a7cc9;
    --main-color: #056a7c;
    --sec-color: #666;
    --bs-btn-hover-bg: #056a7c;
    --bs-btn-bg: #056a7c;
    --bs-btn-hover-border-color: #056a7cc9;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", serif;
    height: 100%;
    position: relative;
}

#root {
    display: flex;
    flex-direction: column;
}

.App {
    min-height: 100dvh; /* Ensures full usable height */
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: linear-gradient(to bottom, #e0e7ed, #fff 50%);
}
/* Content should grow to push footer down */
.content {
    flex: 1; /* Fills the available space */
}

footer {
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
    height: 50px; /* Fixed height */
}

.grecaptcha-badge {
    visibility: hidden;
}


.color-main {
    color: var(--main-color) !important;
}

.color-sub {
    color: var(--sub-color) !important;
}

.color-sec {
    color: var(--sec-color) !important;
}



.sales {
    top: 194px;
    background-color: #EFBD4B;
    padding: 10px 10px;
    position: absolute;
    z-index: 100;
    font-size: .9em;
    cursor: pointer;
    width: 100%;
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.page {
    animation: fadeIn .5s ease-in-out forwards; /* Apply keyframes */
    margin-top: 4rem;
}

.loading {
    margin: auto;
    font-weight: 600;
    height: 100vh;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    /* line-height: 100vh; */
    direction: rtl;
    color: var(--sub-color);
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    position: absolute;
    top: 0;
    right: 0;
}

.loading-icon {
    animation: rotate360 3s linear infinite;
}

    .loading-icon img {
        width: 50px;
        height: 50px;
    }

.section-title {
    color: var(--main-color);
    padding-bottom: 2rem;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
}

.caption-title {
    color: var(--main-color);
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: 1em;
    font-weight: 600;
}

.divider {
    height: 1px;
}

.text {
    color: #666;
}

.collapse-drop-wrap {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-out;
}

.collapse-drop {
    overflow: hidden;
}

.collapse-drop-wrap.show {
    grid-template-rows: 1fr;
}

.offcanvas-header {
    background-color: var(--main-color) !important;
    color: #fff;
}

    .offcanvas-header button {
        color: #fff;
        filter: invert(1);
        opacity: 1;
    }

.search-wrap {
    border: 1px solid #eee;
    border-left-width: 0;
    border-right-width: 0;
    padding: 15px;
}

#myForm {
    padding: 1rem 0;
}

nav.mainnav {
    background-color: #343a40 !important;
    color: #fff !important;
    font-weight: bold;
    font-size: 1.2rem;
}

    nav.mainnav .navbar-nav {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    nav.mainnav ul .nav-item {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    nav.mainnav ul .nav-link {
        color: #fff !important;
        font-weight: bold;
        font-size: 1.8rem;
    }

nav.companies {
    background-color: var(--sub-color) !important;
    color: #fff !important;
    font-weight: bold;
    font-size: 1.2rem;
    position: sticky;
    top: 83px;
    z-index: 1000;
}

    nav.products ul,
    nav.companies ul {
        margin: auto;
    }

.rtl {
    direction: rtl
}

nav.products .dropdown-item {
    text-align: right;
}

nav.products .navbar-nav {
    padding-right: 0
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 1px;
}



nav.companies .nav-link.active {
    color: #fff
}

nav.companies ul li {
    border-right: 1px solid #000;
    cursor: pointer;
    font-size: .8em;
    padding: 0 20px;
}

    nav.companies ul li:last-child {
        border-right: none
    }

.location-nav {
    height: 3rem;
    padding: 1rem 0 1rem 0;
    padding-right: 0;
    color: var(--main-color);
}

    .location-nav .page-title {
        text-align: right;
        direction: rtl;
        gap: 5px;
        flex-wrap: wrap;
        font-size: .9em;
    }

    .location-nav .page-title-item {
        align-items: center;
        font-size: 1em;
        font-weight: 600;
        gap: 5px;
    }

        .location-nav .page-title-item svg {
            height: 12px;
            width: 12px;
        }

        .location-nav .page-title-item a {
            color: var(--main-color);
            text-decoration: none;
        }

nav.products {
    position: sticky;
    top: 138px;
    z-index: 1001;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(255, 255, 255, 0.15);
}

    nav.products .nav-link {
        padding-right: 1em;
        padding-left: 1em;
        font-weight: 600;
    }

.results-sum {
    padding: 1rem;
}

.card,
.card .row {
    border-radius: 10px !important;
}

    .card.success-message {
        width: 500px;
    }

    .card.product {
        width: 50%;
        margin: auto
    }

@media (min-width: 576px) {
    .card,
    .card .row {
        min-height: 200px;
    }
}

.cardTitle {
    background: #bdad30;
    margin-bottom: 0;
    color: #fff;
    padding: 2px 10px;
    position: absolute;
    top: 0;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: fit-content;
}

.card.series,
.card.product-row,
.card.product-row .row {
    min-height: initial;
    border-radius: 10px !important;
    display: flex;
    flex-direction: column;
    padding: .5em;
    justify-content: space-between;
}

    .card.product-row .card-text.details {
        display: flex;
        flex-direction: row-reverse;
        direction: rtl;
        flex-flow: column;
    }

    .card.product-row.thin {
        flex-direction: row;
        border: 0;
        padding: 0;
        font-size: .9em;
    }

        .card.product-row.thin .card-title {
            font-size: 1em;
        }

    .card.product-row .product-details {
        /*width: 60%;*/
        text-align: right;
        justify-content: flex-end;
    }

    .card.product-row .cardTitle {
        background: #bdad30;
        position: initial;
        margin-bottom: 0 !important;
        color: #fff;
        padding: 2px 5px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .card.product-row .card-title {
        margin-bottom: 0 !important;
    }

.card.category {
    cursor: pointer;
    border-radius: 10px !important;
    background: #f8f9fa;
}

    .card.category .card-body {
        padding: 10px
    }

        .card.category .card-body img {
            width: 60%
        }

.card.series {
    border-width: 0;
    border-radius: 0 !important;
    padding: .5em 0;
}

.card.series .details {
    margin: 0.5em 0;
    position: relative;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
    height: 1em;
    padding: .2em;
}

.card.series .series-list {
    border-top: 1px solid var(--bs-border-color);
}

.card.series .show .series-list {
    border-bottom: 1px solid var(--bs-border-color);
}

.series-item:first-child {
    margin-top: 1em;
}

.series-item:last-child {
    margin-bottom: 2em;
}

.series-item:last-child .series-list {
    /*border-top: 0;*/
}

.series-item:last-child .show .series-list {
    /*border-bottom: 0;*/
}

.card.series .details::after {
    content: '+';
    /* position: absolute; */
    right: 0;
    font-size: 1.5em;
    color: var(--main-color);
    line-height: 1.5em;
    transition: all .3s;
}

.card.series .details.show::after {
    content: '+';
    /* position: absolute; */
    right: 0;
    font-size: 1.5em;
    color: var(--main-color);
    line-height: 1.5em;
    transform: rotate(90deg);
}

.card.series .details.no-link::after {
    content: '';
    /* position: absolute; */
    right: 0;
    font-size: 1.5em;
    color: var(--main-color);
    line-height: 1.5em;
    transform: rotate(90deg);
}

.card.series .series-amount {
    position:absolute;
    right:40px;
}

.series-product {
    font-size: .9em;
    padding: .3em .5em;
    font-weight: 500;
    transition:background-color .3s ease-in-out
}

    .series-product:hover {
        background-color: #056a7c17
    }

.extra-small-text {
    font-size: .85em;
    font-weight: 500;
}

.series-product:first-child {
    padding-top: 1.5em;
}

.series-product:last-child {
    padding-bottom: 1.5em;
}

.field-name {
    font-size: .9em;
}

.field-value {
    font-size: .9em;
    font-weight: 600;
}

.linkable {
    cursor: pointer;
}

@media (min-width: 576px) {
    .card.category {
        width: 12vw;
        min-height: 12vw;
    }
}

@media (min-width: 1400px) {
    .card.category {
        width: 9vw;
        min-height: 9vw;
    }
}

.card.category .card-title {
    font-size: 1.2em;
    position: absolute;
    right: 0;
    width: 100%;
    text-align: center;
}

.nav-tabs.categories {
    direction: rtl;
    padding: 0;
}

    .nav-tabs.categories .nav-link {
        color: #000;
        cursor: pointer;
    }

        .nav-tabs.categories .nav-link.active {
            color: #000;
            cursor: pointer;
            font-weight: 600;
        }

.tabs-categories {
    border: 1px solid #dee2e6;
    border-top: 0;
    padding: 2rem;
    background: #fff;
}


.cardTitle.category {
    position: initial;
    font-size: 0.7em;
    white-space: nowrap;
}

.card-text.amount {
    position: absolute;
    bottom: 0;
}

.card-body {
    direction: rtl;
}

.card .card-image-bg {
    background-color: #9999;
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

    .card .card-image-bg.category {
        background-color: #f8f9fa;
        align-items: initial;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
    }

.card.category .card-title {
    color: #495057;
}

.search-results-menu {
    background: #fff;
    z-index: 100;
    color: #000;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    padding: 8px 16px;
}

    .search-results-menu > div {
        padding: 0;
    }

    .search-results-menu .search-card-title {
        text-align: end;
        font-size: .8em;
        color: var(--sub-color);
        font-weight: 600;
    }

.thin .search-card-title {
    font-size: .7em;
    color: var(--sub-color);
}

.card.product-row .bottom-details {
    align-items: center;
    font-size: 0.8em;
    gap: 5px;
    display: flex;
}

.card.product-row .cardTitle {
    font-size: 0.7em;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 2px 8px;
}

.pill {
    background-color: #056a7c3d;
    font-size: .8em;
    padding: .2em .5em;
    border-radius:10px;
}

.sales-form {
    width: 50%;
}

    .sales-form label {
        font-size: .9em;
    }

    .sales-form .btn {
        background-color: var(--main-color);
        color: #fff;
    }

.logos img {
    width: 80px;
}

@media (max-width: 576px) {
    .page {
        margin-top: 2rem;
    }

    .sales-form {
        width: 90%;
    }

        .sales-form .btn {
            width: 100%;
        }

    .sales {
        top: 68px;
        text-align: center;
        position: sticky;
    }

    .section-title {
        padding: 0 0 1rem 0;
        text-align: center;
        font-size: 1.3em;
        font-weight: 600;
    }

        .section-title.category {
            padding: 1rem 0 1rem 0;
            text-align: right;
        }

    nav.mainnav {
        background-color: var(--main-color) !important;
        opacity: .9;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(255, 255, 255, 0.15);
    }

        nav.mainnav .navbar-nav {
            flex-direction: row;
            justify-content: space-between;
        }

        nav.mainnav ul .nav-item {
            display: flex;
            align-items: center;
        }

        nav.mainnav ul .nav-link {
            font-size: 1.2rem;
            text-align: center;
        }

    #myForm {
        padding: 0;
        align-items: center;
    }

    nav.companies {
        background-color: var(--main-color) !important;
    }

    #navbarProducts {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
    }

        #navbarProducts.show {
            max-height: 100vh;
        }

    .card.success-message {
        width: 100%;
    }

    .card.category .card-title {
        font-size: .8em;
        text-align: center;
        margin: 0;
        padding: 0em 0;
        position: inherit;
    }

    .card.category .card-text.amount {
        text-align: center;
        position: inherit;
        bottom: 0;
        font-size: .9em;
    }

    .card.product {
        width: 100%
    }

    .location-nav {
        height: 4rem;
        padding: 1rem 0 2rem 0;
        padding-right: 0;
        position: sticky !important;
        top: 69px;
        z-index: 1000;
        background: #fff;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(255, 255, 255, 0.15);
    }

        .location-nav.no-shadow {
            box-shadow: none;
        }

    .tabs-categories {
        padding: 1rem 0;
    }

    .card.product-row {
        gap: .5em;
    }

    .card.product-row .product-details {
        /*width: 60%;*/
        justify-content: flex-start;
        flex-direction: column-reverse;
    }

    .card.product-row .card-text.details {
        font-size: .8em;
        width: 100%;
    }

    .card.product-row .card-title {
        line-height: 1em;
    }

    .card.product {
        padding-top: 15px;
    }

    .offcanvas .nav-link,
    .offcanvas .dropdown-item {
        font-size: .9em
    }

    .offcanvas .dropdown-menu {
        border: 0
    }

    .offcanvas .dropdown-menu .dropdown-item {
        padding-right: 8px;
        padding-left: 0;
        text-align: right;
    }

    .offcanvas .nav-header-link {
        text-align: right;
        font-size: 1em;
        color: var(--sub-color);
        font-weight: 600;
        padding-bottom: 8px;
    }

    .accordion-body {
        padding: 0
    }

    .accordion-button::after {
        margin-right: auto;
        margin-left: 0;
    }

    .accordion-button.no-arrow::after {
        display: none;
    }


    .accordion-button:not(.collapsed) {
        background-color: #e9ecef;
    }

    .accordion-button:focus {
        box-shadow: none
    }

    .logos img {
        width: 50px;
    }
}
